<div>
  <div>
    <h1>
      Favorite thing #<%= @the_favorite_thing.id %> details
    </h1>

    <div>
      <div>
        <a href="/favorite_things">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_favorite_thing/<%= @the_favorite_thing.id %>">
          Delete favorite thing
        </a>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <%= @the_favorite_thing.user_id %>
      </dd>

      <dt>
        Category
      </dt>
      <dd>
        <%= @the_favorite_thing.category_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_favorite_thing.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_favorite_thing.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit favorite thing
    </h2>

    <form action="/modify_favorite_thing/<%= @the_favorite_thing.id %>"  method="post" >
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_favorite_thing.user_id %>">
      </div>

      <div>
        <label for="category_id_box">
          Category
        </label>

        <input type="text" id="category_id_box" name="query_category_id" value="<%= @the_favorite_thing.category_id %>">
      </div>

      <button>
        Update favorite thing
      </button>
    </form>
  </div>
</div>

<hr>
